.mm1 ul{
  list-style-type: none;
  padding: 0px;
  


}

.mm1 a{
  padding: 15px;
  display: block;
  text-decoration: none;
  float: left;
  color: brown;
  font-size: 200%;
  

 
}

.mm1{
  background-color: aqua;
  height: 70px;
 padding-left: 50px;
}

.mm1 a:hover{
 color: rgb(144, 165, 42);
 
}